.venue-details-page {
  height: 95vh;
  width: 99vw;
  padding-top: 5vh;
  color: black;
  font-family: Calibre, Helvetica, Arial, sans-serif;
}

.details-grid {
  display: grid;
  grid-template-columns: 6% 27.5% 1% 27.5% 20% 18%;
  grid-template-rows: .5% 3% 11% 11% 3.5% 18% 1% 21% 1% 27.5% 1.5%;
  width: 68vw;
  height: 200vh;
  margin-top: 10vh;
  margin-left: 16vw;
  overflow-y: visible;
  background-color: #afafa2;
  border-radius: 25px;
}

.venue-detail-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 2;
}

.image-container {
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 5;
  overflow: hidden;
}

.card-image {
  width: 100%;
  height: 100%;
}

.image {
  border-radius: 25px;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.bookingForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(93, 92, 72);
  border-radius: 25px;
  position: fixed;
  z-index: 1;
  height: 400px;
  width: 398px;
  margin-top: 20%;
  margin-left: 43.5%;
  text-align: center;
  color: white;
}

.pricing {
   margin-top:  10%;
   margin-bottom: 4%;
}

.price {
  font-size: 27px;
}

.date-picker {
  height: 46px;
  width: 200px;
  padding:5px;
  margin: 3%;
  border-radius: 25px;
  outline: none;
  text-align: center;
  font-size: 23px;
  border-color: rgba(0, 0, 0, .8) ;
  cursor: pointer;
}

.guest-picker {
  height: 46px;
  width: 200px;
  padding:5px;
  margin: 1%;
  border-radius: 25px;
  outline: none;
  text-align: center;
  font-size: 23px;
  border-color: rgba(0, 0, 0, .8) ;
  cursor: pointer;
}

.guest-picker::placeholder {
  font-size: 20px;
  color: rgba(0, 0, 0, .8);
}

.book-button {
    margin-top: 4%;
    height: 54px;
    width: 305px;
    font-size: 28px;
    border-radius: 15px;
    border-color: rgba(0, 0, 0, .8);
    background-color: white;
    color: black;
    text-align: center;
    font-family: Calibre, Helvetica, Arial, sans-serif;
}

.book-button:hover {
  cursor: pointer;
  transform: translateY(-3px);
  box-shadow: 3px 3px 3px rgb(97, 96, 96);
  transition: all 0.25s ease 0s;
}

.venue-items-container {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 5;
  text-align: center;
  color: Black;
  margin-top: 2.5%;
}

.item-content, .location, .capacity {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.city-state, .guests {
  font-size: 23px;
}

.location, .capacity {
  font-size: 23px;
}
.spacer-1, .spacer-3 {
  width: 5px;
}

.spacer-2 {
  width: 30px;
}
.description-container {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 6;
  background-color: white;
  border-radius: 25px;
  font-size: 19px;
  padding: 2%;
  overflow: auto;

}

.description-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 25px;
  padding-bottom: 1%;
}

.amenities-container {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 8;
  grid-row-end: 8;
  background-color: white;
  border-radius: 25px;
  width: 100%;
  overflow-y:auto;
}

.amenities-list, .amenity-title {
  display: flex;
  flex-direction: column;

}

.amenity-title {
  padding-bottom: 3%;
  padding-top: 2%;
  padding-left: 35%;
  font-size: 20px;
}

#amenity-line {
  display: flex;
  flex-direction: row;
  font-size: 25px;
  padding: 3%;
  padding-left: 9%;

}

#amenity-icon {
  color: black;
  padding-left: 5px;
}

.google-maps-api {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 8;
  grid-row-end: 9;
  background-color: white;
  border-radius: 25px;
}

.reviews-container {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 10;
  grid-row-end: 11;
  background-color: white;
  border-radius: 25px;
  padding: 2%;
  overflow-y:auto;
  font-size: 19px;
  color: black;
}

.review-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 25px;
  padding-bottom: 1%;
}

.review-table {
  padding-top: 2%;
  padding-bottom: 2%;
  border-bottom: 1px solid black;
}

#row-1 {
  font-weight: bold;
  font-size: 21px;
  padding-bottom: 3%;
}

.row-2 {
  font-size: 21px;
  padding-bottom: 3%;
}

#checkmark {
  color: rgba(30, 130, 76, 1);
  font-size: 23px;
}
