.footer {
    height: 5vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid lightgrey;
    font-family: Calibre, Helvetica, Arial, sans-serif;
}

#footer-content {
    color: rgba(30, 130, 76, 1);
    font-size: 24px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

#footer-icon {
    padding-right: 5px;

}

.hip-camp-icon {
    height: 21px;
    display: flex;
    align-items: center;
}
