.review-grid {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 3% 10% 35.5% 3% 35.5% 10% 3%;
    grid-template-rows:  5% 10% 3% 7% 13% 3% 7% 30% 2% 15% 5%;
    font-family: Helvetica, Arial, sans-serif;
}

.review-form-header {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #222222;
}

.x-button-container {
    grid-column-start: 6;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

#close-icon {
    color: rgba(30, 130, 76, 1);
    font-size: 35px;
    background-color: none;
}

#close-button {
    background-color: white;
    text-decoration: none;
    border: none;
}

.add-title {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 4;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 15px;
}

.add-rating {
    grid-column-start: 5;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 4;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 15px;
}

.add-body {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 7;
    grid-row-end: 7;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    font-size: 15px;
    padding-left: 5%;
}

.title-input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 5;
}

.title-input{
    width: 100%;
    height: 60%;
    border-color: lightgrey;
    border-radius: 15px;
    padding-left: 5%;
    font-size: 20px;
}
.title-input::placeholder,
.rating-input::placeholder,
.body-input::placeholder {
    color: rgba(0, 0, 0, .8);
    text-align: center;
}

.rating-input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start: 5;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 5;
}

.rating-input {
    width: 100%;
    height: 60%;
    border-color: lightgrey;
    border-radius: 15px;
    padding-left: 5%;
    font-size: 20px;
}

.body-input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 8;
    grid-row-end: 8;
}

.body-input {
    width: 100%;
    height: 80%;
    border-color: lightgrey;
    border-radius: 15px;
    padding-left: 5%;
    font-size: 20px;
}

.submit-button-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 10;
    grid-row-end: 10;
}

#submit-button {
    height: 50px;
    width: 200px;
    font-size: 28px;
    border-radius: 15px;
    border-color: rgba(30, 130, 76, 1);
    background-color: rgba(30, 130, 76, 1);
    color: white;
}
#close-button:hover, #submit-button:hover {
    cursor: pointer;
    transform: translateY(-3px);
    transition: all 0.25s ease 0s;
}
