.demoUser-page {
    background-image: url('../images/ben-rosett-xI_-wFJhCiM-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

.demo-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, .8);
    height: 400px;
    width: 500px;
    color: black;
    border-radius: 25px;
    font-family: Calibre, Helvetica, Arial, sans-serif;
}

.demoForm-title {
    padding-top: 8%;
    padding-bottom: 2%;
    color: black;
    font-size: 38px;
    font-weight: 700;
    font-family: Calibre, Helvetica, Arial, sans-serif;
}

.demoForm-text {
    display: flex;
    text-align:center;
    padding: 3%;
    font-size: 25px;
}

.demo-button {
    margin-top: 5%;
    height: 58px;
    width: 210px;
    font-size: 28px;
    border-radius: 15px;
    border-color: rgba(30, 130, 76, 1);
    background-color: rgba(30, 130, 76, 1);
    color:white;
    font-family: Calibre, Helvetica, Arial, sans-serif;
}
.fad {
    color: white;
}

.demo-button:hover {
    transform: translateY(-3px);
    box-shadow: 3px 3px 3px rgb(97, 96, 96);
    transition: all 0.25s ease 0s;
    cursor: pointer;
}

.redirect-demo {
    margin-top: 6%;
    font-size: 18px;
    font-family: Calibre, Helvetica, Arial, sans-serif;
    color: black;
}

.redirect-demo:hover {
    color: rgba(30, 130, 76, 1);
    cursor: pointer;
}
