.splash {
    background-image: url('../images/ben-rosett-xI_-wFJhCiM-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding-top: 5vh;
    height: 95vh;
    width: 100%;

}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4%;
    font-size: 68px;
    font-weight: 700;
    font-family: Calibre, Helvetica, Arial, sans-serif;
    color: white;
}

.header-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-weight: 700;
    font-family: Calibre, Helvetica, Arial, sans-serif;
    color: white;

}

.form-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .6);
    height: 12%;
    margin-top: 3%;
    margin-left: 33%;
    margin-right: 33%;
    border-radius: 60px;

}

.search-field__location {
    height: 45%;
    width: 35%;
    padding: 5px;
    margin: 2%;
    border: none;
    border-radius: 65px;
    outline: none;
    padding-left: 15px;
    font-size: 25px;
}

.search-field__dates {
   height: 45%;
    width: 30%;
    padding: 5px;
    margin: 2%;
    border: none;
    border-radius: 65px;
    outline: none;
    text-align: center;
    font-size: 23px;
}

.search-button {
    height: 47%;
    width: 8%;
    padding: 5px;
    margin: 2%;
    border: none;
    border-radius: 60px;
    outline: none;
    font-size: 30px;
    color: rgba(30, 130, 76, 1);
}

.search-button:hover {
    cursor: pointer;
    background-color: rgba(30, 130, 76, 1);
    color: white;
}

.splash ::placeholder {
    color: rgba(0, 0, 0, .8)
}

input, button {
    outline: none;
  }
