.splash {
    background-image: url('../images/ben-rosett-xI_-wFJhCiM-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding-top: 5vh;
    height: 95vh;
    width: 100%;
    font-family: Calibre, Helvetica, Arial, sans-serif;
}

.splash-grid {
    margin: 0;
    height: 90vh;
    width: 100%;
    padding-top: 1vh;
    display: grid;
    grid-template-columns: 15% 10% 50% 7% 18%;
    grid-template-rows: 5% 20% 5% 16% 54%;
}

.splash-headers {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
}

.header-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
    font-size: 4rem;
    font-weight: 700;
    color: white;
}
@media (max-width: 1440px) {
    .header-1 {
        margin-top: 20px;
        font-size: 3.5rem;
    }
  }

.header-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 700;
    color: white;

}

.splash-search {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 4;
}

.search-box-grid {
    background: rgba(255, 255, 255, .9);
    height: 100%;
    border-radius: 80px;
    display: grid;
    grid-template-columns: 7.7% 2.5% 35% 4% 3% 30% 2% 10% 5.7% ;
    grid-template-rows: 30% 46% 24%;
}

.location-text {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    padding-top: 5%;
    font-size: 18px;
}

.location-box {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.location-input {
    height: 97%;
    width: 99%;
    font-size: 26px;
    border-radius: 50px;
    box-shadow:2px 2px 10px  rgb(102, 101, 101);
    border: none;
    text-align: center;
    cursor: pointer;
}

.date-text {
    grid-column-start: 6;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 1;
    padding-top: 6%;
    font-size: 18px;
}

.search-date-box {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 2;
}

.nice-dates {
    height: 97%;
    width: 99%;
    padding-right:1%;
}

.date-input {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 23px;
    border-radius: 50px;
    box-shadow:2px 2px 8px rgb(102, 101, 101);
    text-align: center;
    color: rgba(0, 0, 0, .8);
    cursor: pointer;
}

.nice-dates-popover {
    max-height: 380px;
    overflow: hidden;
}

.nice-dates-day:before {
    background-color: rgba(30, 130, 76, 1);
}

.nice-dates-day:after {
    border: 2px solid rgba(30, 130, 76, 1);
}

.search-button-box {
    grid-column-start: 8;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar-button {
    height: 100%;
    width: 65%;
    border-radius: 70px;
    font-size: 30px;
    color: white;
    background-color: rgba(30, 130, 76, 1);
    box-shadow:2px 2px 8px rgb(102, 101, 101);
}
@media (max-width: 1440px) {
    .search-bar-button {
        font-size: 25px;
        width: 80%;
    }
  }

.search-bar-button:hover {
    cursor: pointer;
    background-color: white;
    color: rgba(30, 130, 76, 1);
    border-color: rgba(30, 130, 76, 1);
    border-width: 4px;
}

.button-container {
    grid-column-start: 5;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
    display: flex;
    justify-content: flex-end;

}

.show-bookings-button {
    height: 4vh;
    width: 9vw;
    font-size: 18px;
    background-color: rgba(30, 130, 76, 1);
    color: white;
    text-align: center;
    z-index: 2;
}

.side-bar-container {
    grid-column-start: 5;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 6;
    transition: width 2s;
}

.side-bar {
    height: 100%;
    width: 100%;
    background-color: white;
}

.side-bar-grid {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 5% 4% 3% auto;
}

.hide-bookings-button {
    grid-row-start: 1;
    grid-row-end: 1;
    display: flex;
    justify-content: flex-start;
    background-color: white;
    border: none;
}

.fa-arrow-right{
    color: rgba(30, 130, 76, 1);
    font-size: 35px;
    background-color: white;
}

.fa-arrow-right:hover {
    cursor: pointer;
    transform: translateX(5px);
    transition: all 0.25s ease 0s;
}

.side-bar-header {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row-start: 2;
    grid-row-end: 2;
}
.booking-display {
    grid-row-start: 4;
    grid-row-end: 4;
}

.splash ::placeholder {
    color: rgba(0, 0, 0, .8)
}

input, button {
    outline: none;
  }

#hidden {
    display: none;
}
