.search-body {
    height: 90vh;
    width: 100%;
    padding-top: 6vh;
    padding-bottom: 4vh;
    font-family: Calibre, Helvetica, Arial, sans-serif;
    overflow: hidden;
}

.search-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

.card-holder-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 100%;
    overflow: auto;
}

.future-map {
    background-color: black;
    height: 100%;
    width: 60%;
    padding: 0px;
    margin: 0px;
}


.card-holder-container::-webkit-scrollbar {
  display: none;
}

.card-holder-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
