.search-body {
    height: 90vh;
    width: 100%;
    padding-top: 6vh;
    padding-bottom: 4vh;
    font-family: Calibre, Helvetica, Arial, sans-serif;
    overflow: hidden;
}

.search-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

.card-holder-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: 100%;
    overflow: auto;
}

.card-holder-flex {
  width: 100%;
  height: 100%;
  margin-left: 12%;
}

.card-holder-container::-webkit-scrollbar {
  display: none;
}

.card-holder-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.card-link-search {
  text-decoration: none;
  font-family: Calibre, Helvetica, Arial, sans-serif;
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 45%;
  width: 85%;
  margin: 1%;
  border-radius: 25px;
  font-family: Calibre, Helvetica, Arial, sans-serif;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;

}

.search-header {
  font-size: 28px;
  margin-left: 11%;
  margin-top: 2%;
  font-weight: bold;
}
