.search-body {
    height: 95vh;
    width: 100%;
    padding-top: 5vh;
    font-family: Calibre, Helvetica, Arial, sans-serif;
}

.search-body-grid {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto;
    width: 90vw;
    padding-top: 3%;
    margin-left: 7vw;
    padding-bottom: 3.4%;
}

.card-holder-container {
    grid-column-start: 1;
    grid-column-end: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 3%;
}

.future-map {
    grid-column-start: 2;
    grid-column-end: 2;
    height: 33%;
    background-color: black;
}
