.login-page {
    background-image: url('../images/ben-rosett-xI_-wFJhCiM-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 95vh;
    width: 100vw;
}


.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, .8);
    height: 500px;
    width: 500px;
    color: black;
    border-radius: 25px;
    font-family: Calibre, Helvetica, Arial, sans-serif;
}

.login-form ::placeholder {
    color: rgba(0, 0, 0, .8)
}

.form-header {
    padding-top: 8%;
    padding-bottom: 2%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 38px;
    font-weight: 700;
    font-family: Calibre, Helvetica, Arial, sans-serif;
}

.form-text {
    font-size: 25px;
}

.input-fields {
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 50px;
    font-family: Calibre, Helvetica, Arial, sans-serif;
}

.email-input,
.password-input {
    margin-top: 3%;
    margin-bottom: 2%;
    padding-left: 15px;
    border-radius: 15px;
    border-color: white;
    height: 60px;
    width: 250px;
    font-size: 25px;
    font-family: Calibre, Helvetica, Arial, sans-serif;
}

.login-button {
    margin-top: 10%;
    height: 58px;
    width: 210px;
    font-size: 28px;
    border-radius: 15px;
    border-color: rgba(30, 130, 76, 1);
    background-color: rgba(30, 130, 76, 1);
    color: white;
    font-family: Calibre, Helvetica, Arial, sans-serif;
}

.login-button:hover {
    cursor: pointer;
    transform: translateY(-3px);
    box-shadow: 3px 3px 3px rgb(97, 96, 96);
    transition: all 0.25s ease 0s;
}

.redirect-signup {
    margin-top: 7%;
    font-size: 18px;
    font-family: Calibre, Helvetica, Arial, sans-serif;
    color: black;
}

.redirect-signup:hover {
    color: rgba(30, 130, 76, 1);
}
