.signup-page {
    background-image: url('../images/ben-rosett-xI_-wFJhCiM-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    font-family: Calibre, Helvetica, Arial, sans-serif;
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, .8);
    height: 62%;
    width: 25%;
    color: #222222;
    border-radius: 25px;
}

.form-header {
    padding-top: 8%;
    padding-bottom: 2%;
    color: #222222;
    font-size: 38px;
    font-weight: 700;
}

.form-text {
    font-size: 25px;
}

.signup-form-body {
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 100px;
    font-size: 50px;
}

.signup-email-input,
.signup-username-input,
.signup-password-input,
.confirm-password-input {
    margin-top: 2%;
    margin-bottom: 2%;
    padding-left: 15px;
    border-radius: 15px;
    border-color: white;
    height: 60px;
    width: 250px;
    font-size: 25px;
}

.signup-button {
    margin-top: 5%;
    height: 58px;
    width: 210px;
    font-size: 28px;
    border-radius: 15px;
    border-color: rgba(30, 130, 76, 1);
    background-color: rgba(30, 130, 76, 1);
    color: white;
}

.signup-button:hover {
    cursor: pointer;
    transform: translateY(-3px);
    box-shadow: 3px 3px 3px rgb(97, 96, 96);
    transition: all 0.25s ease 0s;
}

.redirect-login {
    margin-top: 7%;
    font-size: 18px;
    color: #222222;
}

.redirect-login:hover {
    color: rgba(30, 130, 76, 1);
    cursor: pointer;
}

.signup-form ::placeholder {
    color: rgba(0, 0, 0, .8)
}
