.nav-bar {
    display: grid;
    grid-template-columns: 1fr .8fr;
    align-items: center;
    height: 5vh;
    margin-top: 0%;
    background-color: white;
}

.appName,
.fad {
    font-size: 30px;
    color: rgba(30, 130, 76, 1);
    text-decoration: none;
    font-weight: 550;
    white-space: nowrap;
}

.home,
.login,
.signup,
.explore,
.logout {
    height: 80%;
    font-size: 30px;
    color: black;
    text-decoration: none;
    white-space: nowrap;
    padding-left: 2%;
    padding-right: 2%;
    /* font-family: Calibre, Helvetica, Arial, sans-serif; */
}

.link-parent {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 3%;
}


.home:hover,
.login:hover,
.signup:hover,
.explore:hover,
.logout:hover {
    text-decoration: underline;
    text-decoration-color:rgba(30, 130, 76, 1);
    cursor: pointer;
}
