.nav-bar {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    align-items: center;
    height: 5vh;
    width: 100%;
    background-color: white;
    font-family: Helvetica, Arial, sans-serif;
    padding-top: .2%;
    padding-bottom: .2%;
    position: fixed;
    border-bottom: 1px solid lightgrey;
    z-index: 1;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}
@media (max-width: 1440px) {
    .nav-bar{
        grid-template-columns: 20% 30% 30% 20%;
    }
  }

.appName,
.fad {
    font-size: 30px;
    color: rgba(30, 130, 76, 1);
    text-decoration: none;
    font-weight: 550;
}

#font-icon {
    color: rgba(30, 130, 76, 1);
}

.first-fraction {
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    justify-content: flex-start;
}

.demo,
.login,
.signup,
.explore,
.logout {
    height: 80%;
    font-size: 25px;
    color: #222222;
    text-decoration: none;
    white-space: nowrap;
    margin-left: 8%;

}

.demo:hover,
.home:hover,
.login:hover,
.signup:hover,
.explore:hover,
.logout:hover {
    text-decoration: underline;
    text-decoration-color:rgba(30, 130, 76, 1);
    cursor: pointer;
}

.second-fraction {
    display: flex;
    justify-content: flex-end;
}

.active {
    text-decoration: underline;
    text-decoration-color:rgba(30, 130, 76, 1);
}
