.nav-bar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 5vh;
    width: 100%;
    margin-top: 0;
    background-color: white;
    font-family: Helvetica, Arial, sans-serif;
    padding: 0;
    position: fixed;
    border-bottom: 1px solid lightgrey;
    z-index: 1;
}

.appName,
.fad {
    font-size: 30px;
    color: rgba(30, 130, 76, 1);
    text-decoration: none;
    font-weight: 550;
}

#font-icon {
    color: rgba(30, 130, 76, 1);
}

.first-fraction {
    display: flex;
    justify-content: center;
    margin-right:28%;
}

.demo,
.login,
.signup,
.explore,
.bookings,
.logout {
    height: 80%;
    font-size: 25px;
    color: black;
    text-decoration: none;
    white-space: nowrap;
    margin-left: 2%;
    margin-right: 2%;
}

.demo:hover,
.home:hover,
.login:hover,
.signup:hover,
.explore:hover,
.bookings:hover,
.logout:hover {
    text-decoration: underline;
    text-decoration-color:rgba(30, 130, 76, 1);
    cursor: pointer;
}

.second-fraction {
    display: flex;
    justify-content: center;
}
